.menu {
	background-color:#454582;
}
.menu a {
	color:white;
	text-decoration: none;
}
.side_bar {
	background-color: #81e881;
	min-height: 600px;
}
.content {
	padding-top: 25px;
	background: #fff3f3;
}
.panel {
	margin-bottom: 35px;
}
.validity ul {
	list-style: none;
	padding:0px;
	margin:0px;
}
.alert_panel {
	min-height: 182px;
	background-color: #ec3838e6;
	border: 1px solid #d41616b0;
	box-shadow: 0 4px 8px 0 rgb(43 34 34 / 20%), 0 6px 20px 0 rgb(115 103 103 / 19%);
}
.alert_panel:hover {
	background-color: #d41616b0;
}
#link_alert_panel_validity {
	text-decoration: none;
}
.alert_panel_title {
	font-weight: bold;
	text-align: center;
	font-size: 18px;
	color:white;
}
.alert_panel_content ul {
	list-style: none;
	padding:0;
}
.alert_panel_content li {
	padding:5px;
	color: white;
}
.img_logo {
	margin-bottom: 25px;
}
.side_bar ul {
	list-style: none;
	padding:0;
}
.side_bar li {
	padding-left:5px;
	padding-bottom: 16px;
	color: white;
}
.side_bar a {
	color:white;
	text-decoration: none;
}
.serach_button {
	margin-bottom: 50px;
}

.table_overflow {
	max-height:350px;
    overflow-y:auto;
}


.footer {
	background-color: #000;
	color:#737571;
}